#mission{
  min-height: 180px;
}

#dashboard{
  min-height: 350px;
  
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(220px, 1fr)
  );
  gap: 20px;
}

#library{
  min-height: 250px;
}